body{
    margin:0;
    display: grid;
    grid-template-areas: 'header header header'                    'article article article'
                         'section section section'
                         'aside aside aside'
                         'footer footer footer';
    grid-template-rows:  82.3vh 45.7vh 57.4vh 63.4vh 18.1vh; /* FOI ALERADO A ALTURA DE CADA VH */
    grid-template-columns: 33.3vw 33.3vw 33.3vw;
    background-color: limegreen;
}
 /* ESTÃOO E ORDEM DE ACORDO O HTML */
header{
    grid-area: header;
    background-image: url("images/banner.png");
    padding: 0;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
}

header div .bloco{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}

header #hand{
    display: flex;
    margin: 0;
    width: 1px;
    align-items: flex-start;
    background-size: 10%;
}

article{
    grid-area: article;
    background-color: rgb(128, 54, 54);
}

section{
    grid-area: section;
    background-color: darkgrey;
    display: flex;
}

section #section{
    display: flex;
    flex-direction: column;
    width: 40%;
}

section p{
    color: gray;
}

section #input{
    display: flex;
    justify-content: center;
    height: 30px;
    border-bottom-right-radius: 30%;
}

aside{
    grid-area: aside;
    background-color: rgb(98, 160, 48);
}

aside div img{
    background-color: darkgray;
    border-radius: 50%;
}

footer{
    grid-area: footer;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    display: flex;
    justify-content: space-around;
    height: 20px;
    width: 600px;
}

footer div a{
    color: grey;
    text-decoration: none;
}








